.tables {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
    border-radius: .625rem;
    border-collapse: collapse;
}


.thead-item {
    height: 50px;
    background: var(--mainColor);
    text-align: center;
    /* border-bottom: none !important;
    border-top: none !important; */
    color: #fff;
    font-size: 16px;
    padding: 0 5px;
    border: 1px solid #ddd;
}

.tbody-item {
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    max-width: 300px;
    word-wrap: break-word;

}

.tables td {
    padding: .75rem;
}

.item-delete {
    color: #D71B0F;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

table.table-3 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table thead th {
    vertical-align: inherit;
}


table.table-3 tr {
    background-color: #f8f8f8;
}

table.table-3 th,
table.table-3 td {
    border: 1px solid #ddd;
}

@media screen and (max-width: 900px) {

    table.table-3 th,
    table.table-3 td {
        padding: 8px;
    }

    .tbody-item {
        border: 1px solid var(--mainColor) !important;
    }

    .item-delete,
    .item-more {
        justify-content: center !important;
    }

    table.table-3 {
        border: 0;
    }

    table.table-3 thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.table-3 tr {
        display: block;
        padding: 5px;
        background: var(--mainColor) !important;
        margin-bottom: 25px;
    }

    table.table-3 td {
        display: flex;
        justify-content: space-between;
    }

    table.table-3 td::before {
        content: attr(data-th);
        float: left;
    }

    table.table-3 td:last-child {
        border-bottom: 0;
    }
}