/* .lds-dual-ring {
    display: inline-block;
    width: 9em;
    height: 9em;
    margin-top: 17%;
    margin-left: 45%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 7em;
    height: 7em;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* 
#nest6 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #008744;
    border-radius: 50%;
    -webkit-animation: spin12 2s linear infinite;
    animation: spin12 2s linear infinite;
}

#nest6:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #ffa700;
    -webkit-animation: spin12 3s linear infinite;
    animation: spin12 3s linear infinite;
}

#nest6:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: #0057e7;
    border-top-color: #d62d20;
    -webkit-animation: spin12 1.5s linear infinite;
    animation: spin12 1.5s linear infinite;
}

@-webkit-keyframes spin12 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin12 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
} */

#nest5 {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #008744;
    border-radius: 50%;
    -webkit-animation: spin11 2s linear infinite;
    animation: spin11 2s linear infinite;
}

#nest5:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #d62d20;
    -webkit-animation: spin11 3s linear infinite;
    animation: spin11 3s linear infinite;
}

#nest5:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #ffa700;
    -webkit-animation: spin11 1.5s linear infinite;
    animation: spin11 1.5s linear infinite;
}

@-webkit-keyframes spin11 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin11 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}