.footerComponent {
    height: 3.75rem;
    border: 1px solid #e1e5eb !important;
    padding: .5rem;
    background-color: #fff !important;
    margin-top: auto;
    display: flex;
    align-items: center;
    text-align: right;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}

.copyright {
    margin: auto 1.5rem auto auto;
}